@{
    ViewData["Title"] = "Home Page";
}

@model WaetherForecasterBLL.Models.WeatherForecasterModel

<div class="text-center">
    @Model.Time[0] - @Model.Time[1] - @Model.Time[2] - @Model.Time[3] - @Model.Time[4] - @Model.Time[5] - @Model.Time[6]
</div>
